@{
    ViewData["Title"] = "Login Page";}

<script>     
        document.getElementById('NAV_B').innerHTML= '';
</script>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

</head>
<body>
  <div class="wrapper" style="margin-top: 9%;">
    <div class="inner-warpper text-center">
      <h2 class="title">Login to your account</h2>
      <form action="" id="formvalidate">
        <div class="input-group">
          <label class="palceholder" for="userName">User Name</label>
          <input class="form-control" name="userName" id="userName" type="text" placeholder="" />
          <span class="lighting"></span>
        </div>
        <div class="input-group">
          <label class="palceholder" for="userPassword">Password</label>
          <input class="form-control" name="userPassword" id="userPassword" type="password" placeholder="" />
          <span class="lighting"></span>
        </div>
        <button type="submit" id="login">Login</button>      
      </form>
    </div>
  </div>


</body>

</html>